Repository sthoray/AllRight, pull requests merged in 2020-08, with the labels that each got.

#81 Revamp browse all categories
  app/build.gradle
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/sthoray/allright/data/api/AllGoodsApi.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Category.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Listing.kt
  app/src/main/java/com/sthoray/allright/data/repository/AppRepository.kt
  app/src/main/java/com/sthoray/allright/ui/base/ViewModelProviderFactory.kt
  app/src/main/java/com/sthoray/allright/ui/listing/adapter/ViewPagerAdapter.kt
  app/src/main/java/com/sthoray/allright/ui/listing/view/ListingActivity.kt
  app/src/main/java/com/sthoray/allright/ui/listing/viewmodel/ListingViewModel.kt
  app/src/main/java/com/sthoray/allright/ui/main/adapter/BrowseAdapter.kt
  app/src/main/java/com/sthoray/allright/ui/main/adapter/HomeAdapter.kt
  app/src/main/java/com/sthoray/allright/ui/main/view/BrowseFragment.kt
  app/src/main/java/com/sthoray/allright/ui/main/view/HomeFragment.kt
  app/src/main/java/com/sthoray/allright/ui/main/view/ProfileFragment.kt
  app/src/main/java/com/sthoray/allright/ui/main/viewmodel/MainViewModel.kt
  app/src/main/java/com/sthoray/allright/ui/search/adapter/ResultsAdapter.kt
  app/src/main/java/com/sthoray/allright/ui/search/view/ResultsFragment.kt
  app/src/main/java/com/sthoray/allright/ui/search/view/SearchActivity.kt
  app/src/main/java/com/sthoray/allright/utils/AppIcon.kt
  app/src/main/res/drawable/ic_category_book_24.xml
  app/src/main/res/drawable/ic_category_build_24.xml
  app/src/main/res/drawable/ic_category_car_24.xml
  app/src/main/res/drawable/ic_category_devices_24.xml
  app/src/main/res/drawable/ic_category_event_seat_24.xml
  app/src/main/res/drawable/ic_category_food_beverage_24.xml
  app/src/main/res/drawable/ic_category_giftcard_24.xml
  app/src/main/res/drawable/ic_category_heart_24.xml
  app/src/main/res/drawable/ic_category_image_24.xml
  app/src/main/res/drawable/ic_category_people_24.xml
  app/src/main/res/drawable/ic_category_pets_24.xml
  app/src/main/res/drawable/ic_category_speaker_24.xml
  app/src/main/res/drawable/ic_category_sports_soccer_24.xml
  app/src/main/res/drawable/ic_category_stroller_24.xml
  app/src/main/res/drawable/ic_category_supervised_24.xml
  app/src/main/res/drawable/ic_category_ticket_24.xml
  app/src/main/res/drawable/ic_category_toys_24.xml
  app/src/main/res/drawable/ic_category_train_24.xml
  app/src/main/res/drawable/ic_category_work_24.xml
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/layout/fragment_profile.xml
  app/src/main/res/layout/fragment_results.xml
  app/src/main/res/layout/item_layout_featured_category.xml
  app/src/main/res/layout/item_layout_search.xml
  app/src/main/res/layout/item_layout_top_level_category.xml
  app/src/main/res/layout/item_view_pager_listing_image.xml
  app/src/main/res/navigation/main_navigation.xml
  app/src/main/res/values/strings.xml
Labels: enhancement

#79 Revamp recycler view layouts containg images
  app/src/main/ic_launcher-playstore.png
  app/src/main/java/com/sthoray/allright/data/model/listing/Image.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Listing.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Manager.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/MarkdownOptions.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/PaymentOption.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/PickupLocation.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Property.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/ShippingOption.kt
  app/src/main/java/com/sthoray/allright/data/model/listing/Tag.kt
  app/src/main/java/com/sthoray/allright/data/model/search/Location.kt
  app/src/main/java/com/sthoray/allright/ui/listing/view/ListingActivity.kt
  app/src/main/java/com/sthoray/allright/ui/search/adapter/ResultsAdapter.kt
  app/src/main/res/layout/fragment_results.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/values/colors.xml
  app/src/main/res/values/ic_launcher_background.xml
  app/src/main/res/values/styles.xml
Labels: bug, enhancement

#86 Iss43 listing activity v2
  app/src/main/java/com/sthoray/allright/data/model/listing/Listing.kt
  app/src/main/java/com/sthoray/allright/ui/listing/view/ListingActivity.kt
  app/src/main/java/com/sthoray/allright/ui/listing/viewmodel/ListingViewModel.kt
  app/src/main/res/layout/activity_listing.xml
  app/src/main/res/values/strings.xml
Labels: enhancement

#94 Listing viewmodel tests
  app/build.gradle
  app/src/main/java/com/sthoray/allright/ui/listing/viewmodel/ListingViewModel.kt
  app/src/test/java/com/sthoray/allright/ui/listing/viewmodel/ListingViewModelTest.kt
  app/src/test/java/com/sthoray/allright/utils/TestCoroutineRule.kt
Labels: test

#96 Main viewmodel tests
  .idea/misc.xml
  app/src/main/java/com/sthoray/allright/ui/main/viewmodel/MainViewModel.kt
  app/src/test/java/com/sthoray/allright/ui/listing/viewmodel/ListingViewModelTest.kt
  app/src/test/java/com/sthoray/allright/ui/main/viewmodel/MainViewModelTest.kt
Labels: test

#98 Search viewmodel tests
  app/src/main/java/com/sthoray/allright/ui/main/adapter/BrowseAdapter.kt
  app/src/main/java/com/sthoray/allright/ui/main/view/BrowseFragment.kt
  app/src/main/java/com/sthoray/allright/ui/main/viewmodel/MainViewModel.kt
  app/src/main/java/com/sthoray/allright/ui/search/viewmodel/SearchViewModel.kt
  app/src/main/res/layout/fragment_browse.xml
  app/src/main/res/layout/item_layout_second_tier_category.xml
  app/src/test/java/com/sthoray/allright/ui/main/viewmodel/MainViewModelTest.kt
  app/src/test/java/com/sthoray/allright/ui/search/viewmodel/SearchViewModelTest.kt
Labels: test

#101 Internet testing
  app/build.gradle
  app/src/test/java/com/sthoray/allright/utils/InternetTest.kt
Labels: test

#104 Ignore data models and UI related code in coverage reports
  app/build.gradle
Labels: experimental, test

#105 Adjust coverage reports
  .github/workflows/android-build.yml
  .github/workflows/codcov.yml
  README.md
  codecov.yml
Labels: enhancement

#103 AppRepository Tests v2
  .github/workflows/android-build.yml
  app/src/test/java/com/sthoray/allright/data/repository/AppRepositoryTest.kt
Labels: test

#106 Splash screen - orange version
  README.md
  app/build.gradle
  app/src/androidTest/java/com/sthoray/allright/ui/splash/view/MainActivityTest.kt
  app/src/main/ic_launcher-playstore.png
  app/src/main/java/com/sthoray/allright/ui/splash/view/SplashActivity.kt
  app/src/main/res/drawable-hdpi/ic_splash_cart_120.png
  app/src/main/res/drawable-mdpi/ic_splash_cart_120.png
  app/src/main/res/drawable-xhdpi/ic_splash_cart_120.png
  app/src/main/res/drawable-xxhdpi/ic_splash_cart_120.png
  app/src/main/res/drawable-xxxhdpi/ic_splash_cart_120.png
  app/src/main/res/drawable/theme_splash.xml
  app/src/main/res/layout/activity_splash.xml
  app/src/main/res/mipmap-hdpi/ic_launcher.png
  app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  app/src/main/res/mipmap-mdpi/ic_launcher.png
  app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xhdpi/ic_launcher.png
  app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  app/src/main/res/values/ic_launcher_background.xml
  app/src/main/res/values/styles.xml
Labels: enhancement, test

#107 Database unit tests
  app/build.gradle
  app/src/androidTest/java/com/sthoray/allright/data/db/SearchHistoryDatabaseTest.kt
  app/src/main/java/com/sthoray/allright/data/db/SearchHistoryDao.kt
  app/src/sharedTest/java/com/sthoray/allright/util/LiveDataTestUtil.kt
  app/src/sharedTest/java/com/sthoray/allright/util/TestUtil.kt
  codecov.yml
Labels: test

#108 Attempt to resolve Codecov not ignoring constants
  app/build.gradle
  codecov.yml
Labels: documentation, experimental
